<!-- dashboard.html -->
{% include 'nav.html' %}
{% include 'side_nav.html' %}
<html lang="th">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&amp;display=swap" rel="stylesheet"/>
</head>
<body class="bg-gray-900 text-white">
    <div class="container mx-auto p-4">
        <div class="ml-64 p-4">
            <div class="relative mb-8">
                <div class="relative">

            </div>
        </div>
        <h2 class="text-2xl font-medium mb-4">หนังสือของฉัน</h2>
        <div class="flex space-x-4 mb-8">
            {% if has_completed_orders %}
                {% for order_item in completed_order_items %}
                <div class="text-center group">
                    <a href="{% url 'read_ebook' order_item.book.id %}" class="relative block">
                        <img alt="{{ order_item.book.title }} book cover" class="w-36 h-48 rounded-lg mb-2 shadow-lg transition-transform transform group-hover:scale-105" height="250" src="{{ order_item.book.cover_image.url }}" width="200"/>
                        <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 opacity-0 group-hover:opacity-100 transition-opacity">
                            <span class="text-white text-lg">อ่าน</span>
                        </div>
                    </a>
                    <p class="group-hover:text-yellow-400 transition-colors">{{ order_item.book.title }}</p>
                </div>
                {% endfor %}
            {% else %}
                <p>คุณยังไม่ได้ซื้อหนังสือ</p>
            {% endif %}
        </div>
        </div>
    </div>
</body>
</html>