{% include 'nav.html' %}
{% include 'side_nav.html' %}
<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <title>ร้านหนังสือ</title>
    <!-- Include any necessary CSS here -->
</head>
<body class="bg-gray-900 text-white">
    <div class="ml-64 p-4 w-full">
        <h1 class="text-2xl font-semibold">ซีรีย์ที่คุณติดตาม</h1>
        <ul class="grid grid-cols-5 gap-6">
            {% for series in books_in_favorites %}
                <li class="bg-gray-800 p-4 rounded mb-4">
                    <img src="{{ book.cover_image.url }}" alt="ปกหนังสือของ {{ book.title }}" class="w-full h-48 object-cover mb-4 rounded">
                    <h2 class="text-xl font-semibold">{{ book.title }}</h2>
                    <p>ผู้เขียน: {{ book.series.author.name }}</p>
                    <form action="{% url 'remove_from_favorites' series.id %}" method="post" class="inline">
                        {% csrf_token %}
                        <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 transition duration-300">ลบออก</button>
                    </form>
                </li>
            {% empty %}
                <li>คุณยังไม่ได้ติดตามซีรีย์</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>