<html lang="th">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}BookCube{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.3/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <nav class="bg-indigo-600 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <a href="" class="text-2xl font-bold text-white"></a>
            <div>
                {% if user.is_authenticated %}
                    <span class="text-white">สวัสดี, {{ user.username }}</span>
                    <a href="{% url 'cart' %}" class="bg-indigo-600 text-white px-4 py-2 rounded hover:bg-gray-200">ตะกร้าของฉัน</a>
                    <a href="{% url 'notifications' %}" class="bg-indigo-600 text-white px-4 py-2 rounded hover:bg-gray-200">การแจ้งเตือน</a>
                    <a href="{% url 'logout' %}" class="bg-white text-indigo-600 px-4 py-2 rounded hover:bg-gray-200">ออกจากระบบ</a>
                {% else %}
                    <a href="{% url 'login' %}" class="bg-white text-indigo-600 px-4 py-2 rounded hover:bg-gray-200">เข้าสู่ระบบ</a>
                    <a href="{% url 'register' %}" class="bg-white text-indigo-600 px-4 py-2 rounded hover:bg-gray-200">ลงทะเบียน</a>
                {% endif %}
            </div>
        </div>
    </nav>
</body>
</html>