{% include 'nav.html' %}
{% include 'side_nav.html' %}
<body class="bg-gray-900 text-white">
<div class="ml-64 p-4">
<table class="min-w-full bg-black">
    <thead>
        <tr>
            <th class="py-2 px-4 border-b border-black-200 bg-black-100">รายการที่</th>
            <th class="py-2 px-4 border-b border-black-200 bg-black-100">ราคา</th>
            <th class="py-2 px-4 border-b border-black-200 bg-black-100">วันที่สั่งซื้อ</th>
            <th class="py-2 px-4 border-b border-black-200 bg-black-100">สถานะการสั่งซื้อ</th>
            <th class="py-2 px-4 border-b border-black-200 bg-black-100">รายการสินค้า</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td class="py-2 px-4 border-b border-black-200 text-center">{{ order.id|default:"N/A" }}</td>
            <td class="py-2 px-4 border-b border-black-200 text-center">{{ order.book_prices|default:"N/A" }}</td>
            <td class="py-2 px-4 border-b border-black-200 text-center">{{ order.order_date|default:"N/A" }}</td>
            <td class="py-2 px-4 border-b border-black-200 text-center">{{ order.status|default:"N/A" }}</td>
            <td class="py-2 px-4 border-b border-black-200">
                <ul>
                    {% for item in order.items.all %}
                    <li class="flex items-center justify-center py-1 px-4">{{ item.book.title|default:"N/A" }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</body>
