{% include 'nav.html' %}
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>รีวิวหนังสือ</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
</head>
<body class="bg-gray-900 text-white">
    <div class="flex">
        {% include 'side_nav.html' %}
        <div class="ml-64 p-4 w-full">
            <h1 class="text-2xl font-semibold mb-6">รีวิวสำหรับ "{{ book.title }}"</h1>
            <ul id="reviews-container" class="space-y-4">
                {% for review in reviews %}
                    <li class="bg-gray-800 p-4 rounded-lg shadow-md">
                        <strong class="text-lg">{{ review.user.username }}</strong>
                        <div class="mt-2">
                            {% for i in "*****" %}
                                {% if forloop.counter <= review.rating %}
                                    <i class="fas fa-star text-yellow-400"></i>
                                {% else %}
                                    <i class="far fa-star text-gray-400"></i>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <p class="mt-2">{{ review.content }}</p>
                        <span class="block mt-2 text-gray-400">{{ review.review_date|date:"d/m/Y H:i" }}</span>
                    </li>
                {% empty %}
                    <li class="bg-gray-800 p-4 rounded-lg shadow-md">
                        ยังไม่มีรีวิวสำหรับหนังสือเล่มนี้
                    </li>
                {% endfor %}
            </ul>

            <h2 class="text-xl font-semibold mt-8 mb-4">เพิ่มรีวิวของคุณ</h2>
            <a href="{% url 'form_review' book.id %}" class="mt-4 bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                เพิ่มรีวิว
            </a>
        </div>
    </div>
</body>
</html>

