{% include 'nav.html' %}
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>รีวิวหนังสือ</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
</head>
<body class="bg-gray-900 text-white">
    <div class="flex">
        {% include 'side_nav.html' %}
        <div class="ml-64 p-4 w-full">
            <h1 class="text-2xl font-semibold mb-6">รีวิวของหนังสือเล่มนี้</h1>
            <ul id="reviews-container">
                <!-- Reviews will be loaded here dynamically -->
            </ul>
        </div>
    </div>
</body>
</html>