{% include 'nav.html' %}
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ค้นหาขั้นสูง</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
</head>
<body class="bg-gray-900 text-white">
    <div class="flex">
        {% include 'side_nav.html' %}
        <div class="ml-64 p-4 w-full">
            <div class="flex items-center mb-4">
                <h1 class="text-2xl font-semibold">ค้นหาขั้นสูง</h1>
            </div>
            <div class="flex items-center mb-4">
                <div class="relative w-full">
                    <form method="get" action="">
                        <input name="q" class="w-full bg-gray-800 text-white p-2 pl-10 rounded" placeholder="ค้นหา" type="text" value="{{ query }}"/>
                        <i class="fas fa-search absolute left-3 top-2.5 text-gray-400"></i>
                    </form>
                </div>
                <button class="ml-2 bg-gray-700 text-white px-4 py-2 rounded flex items-center">
                    <span>แสดงตัวกรอง</span>
                    <i class="fas fa-chevron-down ml-2"></i>
                </button>
            </div>
            <div class="grid grid-cols-2 gap-4">
                {% for series in series %}
                <div class="bg-gray-800 p-4 rounded flex">
                    <a href="{% url 'dashboard' %}">
                        <img alt="ภาพปก {{ series.title }}" class="w-36 h-48 mr-6" src="{{ series.books.last.cover_image.url }}"/>
                    </a>
                    <div class="flex flex-col justify-between w-full ml-2">
                        <div>
                            <div class="flex items-center mb-2">
                                <h2 class="text-xl font-semibold">{{ series.title }}</h2>
                            </div>
                            <div class="flex items-center text-gray-400 mb-2">
                                <i class="fas fa-star mr-1"></i>
                                <span class="mr-4">{{ series.rating }}</span>
                            </div>
                            <div class="text-gray-400 text-sm mb-2">
                                <span class="mr-2">ผู้แต่ง: {{ series.author.name }}</span>
                            </div>
                        </div>
                        <div class="self-end">
                            <a href="{% url 'serie_detail' series.id %}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                                ดูรายละเอียด
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
