<!-- side_nav.html -->
<div class="fixed top-0 left-0 w-64 h-screen bg-gray-800 text-white z-50">
    <div class="p-4">
        <a href="{% url 'dashboard' %}" class="text-2xl font-bold text-white">BookCube</a>
    </div>
    <nav class="mt-4">
        
        <ul>
            <li class="p-2 hover:bg-gray-700">
                <a href="{% url 'dashboard' %}" class="block">Store</a>
            </li>
            <li class="p-2 hover:bg-gray-700">
                <a href="{% url 'dashboard' %}" class="block">My Ebook</a>
            </li>
            <li class="p-2 hover:bg-gray-700">
                <a href="{% url 'search' %}" class="block">Advance Search</a>
            </li>
            <li class="p-2 hover:bg-gray-700">
                <a href="{% url 'order' %}" class="block">My Order</a>
            </li>
        </ul>
    </nav>
</div>